/* colors */
:root {
    --charcoal: #222;
    --sea-foam: #feffff;
    --sea-foam--opaque: #feffffcc;
    --cloudy: #f7f9fb;
    --sky: #8fc1e3;
    --shallow: #5085a5;
    --shallow--opaque: #5085a5dd;
    --deep: #31708e;
    --deep--opaque: #31708ecc;

    --text-dark: var(--charcoal);
    --text-light: var(--sea-foam);

    --brand-font: "Frank Ruhl Libre", serif;
    --body-font: "PT Sans", sans-serif;
}
/* /colors */

/* utils */
.brand-text {
    font-family: var(--brand-font);
}
.sea-foam-theme {
    color: var(--charcoal) !important;
    background-color: var(--sea-foam) !important;
}
.sea-foam-theme--transparent {
    color: var(--charcoal) !important;
    background-color: var(--sea-foam--opaque) !important;
}
.cloudy-theme {
    color: var(--charcoal) !important;
    background-color: var(--cloudy) !important;
}
.sky-theme {
    color: var(--charcoal) !important;
    background-color: var(--sky) !important;
}
.shallow-theme {
    color: var(--sea-foam) !important;
    background-color: var(--shallow) !important;
}
.shallow-theme--transparent {
    color: var(--sea-foam) !important;
    background-color: var(--shallow--opaque) !important;
}
.deep-theme {
    color: var(--sea-foam) !important;
    background-color: var(--deep) !important;
}
.deep-theme--transparent {
    color: var(--sea-foam) !important;
    background-color: var(--deep--opaque) !important;
}
.charcoal-theme {
    color: var(--sea-foam) !important;
    background-color: var(--charcoal) !important;
}

.sea-foam-theme a,
.cloudy-theme a,
.sky-theme a,
.sea-foam-theme a:hover,
.cloudy-theme a:hover,
.sky-theme a:hover {
    color: var(--charcoal) !important;
}

.deep-theme a,
.shallow-theme a,
.charcoal-theme a,
.deep-theme a:hover,
.shallow-theme a:hover,
.charcoal-theme a:hover {
    color: var(--sea-foam) !important;
}
/* /utils */

/* base */
.atl {
    color: var(--text-dark);
    font-family: var(--body-font);
}

h1,
h2 {
    font-weight: bold;
    font-family: var(--brand-font);
}

h3,
h4,
h5,
h6 {
    font-weight: bold;
    font-family: var(--body-font);
}
/* /base */

/* nav */
.atl-nav {
}
.atl-nav__list {
}
.atl-nav__item {
}
.atl-nav__links {
    float: left;
}
@media screen and (min-width: 576px) {
    .atl-nav__links {
        float: right;
    }
}
.atl-nav__link {
}
.atl-nav__link:hover {
}
.atl-nav__logo {
    width: 32px;
}
.atl-nav__brand {
    display: flex;
    align-items: center;
    justify-content: start;
    font-family: var(--brand-font);
}

/* /nav */

/* hero */

.atl-hero {
    background-image: url(waves.jpg);
    background-size: cover;
    background-position: 50% 50%;
    position: relative;
}
.atl-hero__text-wrap {
    margin: 0 auto;
}
.atl-hero__title {
    font-family: var(--brand-font);
}
/* /hero */

/* services */
.atl-services {
}

.atl-service-card {
    text-align: center;
}
.atl-service-card__icon {
    font-size: 4rem;
}
.atl-service-card__content {
}
/* /services */

/* about */
.atl-about {
    background-size: cover;
    background-position: 50% 50%;
    background-image: url(lighthouse.jpg);
}
/* /about */
